/* ===================
       STYLE GLOBAL
    =================== */
    * {
      box-sizing: border-box;
    }
    
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #fff;
      color: #000;
    }

    /* ===================
       HEADER
    =================== */
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;
      background: #fff;
      position: fixed;
      width: 100%;
      z-index: 20;
      flex-wrap: wrap;
      box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    }

    header img {
      width: 70px;
      height: 72px;
      border-radius: 50%;
      margin-left: 10px;
    }
    
    /* Menu hamburger (caché par défaut) */
    .hamburger {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 25px;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      margin-right: 15px;
    }

    .hamburger span {
      width: 100%;
      height: 3px;
      background-color: #000;
      border-radius: 2px;
      transition: all 0.3s linear;
    }
    
    nav .button-group {
      margin-right: 15px;
    }
    nav .button-group ul a{
      gap: 40px;
      padding: 10px;
    }

    nav .button-group a {
      text-decoration: none;
      font-weight: bold;
      color: #000;
      margin-bottom: 10px;
      margin-right: 30px;
      font-size: 18px;
    }

    nav a.active {
      background: #000;
      color: #fff;
      padding: 12px 30px;
      border-radius: 50px;
    }

    nav .button-group ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 15px;
    }
    
    nav .button-group ul li {
      margin: 0;
    }
